@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background: hsl(255, 63%, 93%);
    color: #0f141e;
}

.info-text p {font-style: italic;
font-weight: bold;
color: rgb(3, 1, 5);
}
h1 {font-weight: bold;
    color: rgb(5, 3, 7);
text-decoration:underline }

    .block {
        color: rgb(6, 1, 10);
        font-weight: bold;
        border: 2px solid indigo;
        border-radius: 5px;
        background: rgb(218, 168, 218);
    }
.block 
    .info h2, a {
        font-weight: bold;
        color: teal;
        
    }
    .info-text {
        font-weight: bold;
        color: rgb(1, 20, 20);
        border: 2px solid teal;
        border-radius: 5px;
        background: rgb(147, 208, 219);
    }
    .table {
        font-weight: bold;
        color: rgb(2, 17, 17);
        border: 2px solid teal;
        border-radius: 5px;
        background: rgb(150, 173, 111);
        width:100%;
        text-align: center;

    }
    .table tr:hover {background:rgb(200, 201, 134)}
    .table tr:nth-child(odd){background: #a6b993;}
    .table td:nth-child(2) {background: #a6b993;}
    .form {
        color: rgb(5, 1, 8);
        font-weight: bold;
        border: 2px solid indigo;
        border-radius: 5px;
        background: rgb(200, 201, 134);
        text-align: center;
    }
.web {font-weight: bold;
    color: rgb(0, 10, 10);
    border: 2px solid teal;
    border-radius: 5px;
    background: rgb(216, 167, 175);}
    .container {
        max-width: 700px;
        margin:auto;
    }
    .info img {
        box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    }

    a:hover {color: rgb(126, 126, 202);}
button {background: white;
padding: 15px 20px;
border: 1px solid;
border-radius: 5px;
cursor: pointed;
}
    button:hover {background: rgb(126, 126, 202); opacity: 0.8;}

    img{display:block;
    margin: 40px auto;}

    .form h2 {
        text-align: center;
    } 

    .form-group label {
        display: block;
    }

    .form-group input, 
    .form-group textarea {
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
    }

    .form-row .form-group {display: inline-block;}